@font-face {
  font-family: "Bitbybit";
  src: url('../fonts/Bitbybit.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NTBrickSans";
  src: url('../fonts/NTBrickSans.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bitbybit','NTBrickSans', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: #add3ff; */
  background-color: #ff967f;
  /* background-color: #f8d1aa; */
}

div#__next {
  height: 100vh;
  display: flex;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'NTBrickSans';
  margin-top: 0;
}

button {
  font-family: 'Bitbybit';
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
